# ignore environment files
.env

# ignore data files
*.csv
*.jsonl
*.png

# ignore python cache files
__pycache__/
*.pyc

# allow everything in data folder (REALTOXICITYPROMPTS Study)
!data/prompts.jsonl

# ignore system files
.DS_Store